{% extends "brickwatch/base.html" %}
{% load widget_tweaks %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Your username and password didn’t match. Please try again.
    </div>
{% endif %}

{% if next %}
    <div class="alert alert-info" role="alert">
      {% if user.is_authenticated %}
        Your account doesn’t have access to this page. To proceed,
        please login with an account that has access.
      {% else %}
        Please login to see this page.
      {% endif %}
    </div>
{% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />

    <div class="form-group">
        {{ form.username.label_tag }}
        {% render_field form.username class="form-control" %}
    </div>
    <div class="form-group">
        {{ form.password.label_tag }}
        {% render_field form.password class="form-control" %}
    </div>

    <p>
        <button type="submit" value="login" class="btn btn-primary">Log in</button>
    </p>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}